.outer_box_user_item {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 2rem;
  margin-top: 10rem;

  .button_frame {
    align-self: flex-end;
    padding: 0rem 0rem 3rem 0rem;
  }
}