.user_item {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 2rem;
  margin-top: 10rem;

  &__btn_container {
    display: flex;
    justify-content: space-between;
    padding: 0rem 0rem 3rem 0rem;
  }
}