$background-navbar: #432cc7;

.navbar_outer_box {
    background-color: $background-navbar;
    height: 100vh;
    max-width: 18rem;
    min-width: 18rem;
    overflow-x: hidden; 
    padding-top: 7rem; 
}


