@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

nav {
  margin-left: 2.5rem;
}
.outer_link_box {
  display: flex;
  align-items: center;
}

.links_nav {
    text-decoration: none; 
    color: black;
    padding: 1rem 1rem 1rem 1rem; 
    font-size: 16px; 
    font-family: "Rubik", sans-serif;
    color: white; 
    display: block; 
      p {
        margin-left: 1rem;
      }
}