@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

.add_article_layout {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 3rem;
  width: 2rem;
  padding-top: 5rem;
  font-family: 'Rubik';
  color: rgba(52, 49, 49, 0.872);

  &__header {
    display: flex;
    justify-content: space-between;
  }

  &__btn_element {
    background-color: "#52d64b";
    color: white;
    width: 8rem;
    align-self: "flex-end";
    margin-right: 1.5rem;
    margin-bottom: 2rem;
  }
}